@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

:root {
  /* Colors */
  --dark-black: #101010;
  --black: #191919;
  --light-black: #202020;
  --light-black-2: #242424;
  --sky-blue: #7fc3ff;
  --dark-gray: #383838;
  --gray: #839da6;
  --light-gray: #555555;
  --off-white: #edf1f5;
  --transparent-black: hsla(0, 0%, 9%, 0.7);
  --dark-orange: #e03400;

  /* Intentions */
  --nav-color: var(--dark-black);
  --background-color: var(--black);
  --on-background: ;
  --surface-color: var(--light-black);
  --on-surface: ;
  --surface-color-2: var(--light-black-2);
  --primary-color: var(--sky-blue);
  --on-primary: ;
  --secondary-color: var(--dark-orange);
  --on-secondary: ;
  --card-p-text: var(--gray);
  --card-score-text: var(--off-white);
  --card-background: var(--transparent-black);
  --card-hover: var(--dark-gray);
  --card-hover-border: var(--light-gray);
  /* Utilities */
  --section-width: calc(
    var(--card-holder-width) + (2 * var(--section-padding))
  );
  --section-padding: 2rem;
  --card-holder-width: 72vw;
  --card-width: calc(var(--card-holder-width) / 6);

  --li-padding-bottom: 0.5rem;

  --font: "Manrope", sans-serif;
  --mobile-small-font-size: 1.6rem;
}

html,
body,
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  font-size: var(--mobile-small-font-size);
}
a {
  text-decoration: none;
  font-size: var(--mobile-small-font-size);
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-size: var(--mobile-small-font-size);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font);
  color: var(--primary-color);
  font-weight: 600;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.6rem;
  margin: 0 0 1rem 0;
}
li,
p,
span {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--off-white);
}
li {
  margin-bottom: var(--li-padding-bottom);
}

@media screen and (max-width: 1600px) {
  html,
  body,
  * {
    font-size: 60%;
  }
}
@media screen and (max-width: 1300px) {
  :root {
    --card-width: calc(var(--card-holder-width) / 5);
  }
}
@media screen and (max-width: 1000px) {
  html,
  body,
  * {
    font-size: 55%;
  }
  h2 {
    font-size: 4rem;
  }
  :root {
    --card-width: calc(var(--card-holder-width) / 4);
  }
}
@media screen and (max-width: 750px) {
  :root {
    --card-width: calc(var(--card-holder-width) / 3);
  }
}
@media screen and (max-width: 525px) {
  :root {
    --section-width: 100vw;
    --section-padding: 2rem;
    --card-holder-width: calc(
      var(--section-width) - (2 * var(--section-padding))
    );
  }
}
@media screen and (max-width: 420px) {
  :root {
    --card-width: calc(var(--card-holder-width) / 2);
    --section-padding: 1rem;
  }
}
